@use "variable" as *;

//Font Black
@font-face {
  font-family: "SourceSerifPro-Black";
  src: url(../..https://dionysus-cocktail-cabinet-be.onrender.com/assets/Fonts/SourceSerifPro-Black.ttf)
    format("truetype");
  font-weight: 900;
}

//Font Bold
@font-face {
  font-family: "SourceSerifPro-Bold";
  src: url(../..https://dionysus-cocktail-cabinet-be.onrender.com/assets/Fonts/SourceSerifPro-Bold.ttf)
    format("truetype");
  font-weight: 700;
}

//Font SemiBold
@font-face {
  font-family: "SourceSerifPro-SemiBold";
  src: url(../..https://dionysus-cocktail-cabinet-be.onrender.com/assets/Fonts/SourceSerifPro-SemiBold.ttf)
    format("truetype");
  font-weight: 600;
}

//Font Regular
@font-face {
  font-family: "SourceSerifPro-Regular";
  src: url(../..https://dionysus-cocktail-cabinet-be.onrender.com/assets/Fonts/SourceSerifPro-Regular.ttf)
    format("truetype");
  font-weight: 400;
}

//Font Regular
@font-face {
  font-family: "Creepster-Regular";
  src: url(../..https://dionysus-cocktail-cabinet-be.onrender.com/assets/Fonts/Creepster-Regular.ttf)
    format("truetype");
  font-weight: 400;
}
